*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(13, 46, 107);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.user{
    color: white;
    text-transform: uppercase;
}
.user .user-name{
    font-size: 18px;
    font-weight: bold;
}
.user .intial{
    font-size: 13px;
}
.hr_green, .hr_purple{
    margin-bottom:5px;
    width: 100%;
    height: 5px;
}
.hr_green{
 
    background-color: rgb(56, 47, 182);
}
.hr_purple{
     background-color: rgb(117, 186, 243);
}
.main_body{
    /* background-color:rgba(250, 177, 217, 0.486); */
    padding:40px 40px;
}
.section-first{
    padding: 50px;
    background-color:rgba(117, 186, 243, 0.555) ;
    border-radius: 10px;
}
.section-second-left{
    background-color: rgba(117, 186, 243, 0.158);
    padding:20px;
    margin: 20px 0px;
    border-radius: 10px;
}
.section-second-right{
    background-color: rgba(117, 186, 243, 0.555);
    padding:20px;
    margin: 20px 0px;
    border-radius: 10px;
}